
extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
    div(class='breadcrumb')
        li Доставка товару на склад
    form(id='' name='shop-add-form' class='form-inline' action='/addGoodsOnStorage' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Goods
            div(class='col-md-6')
                select(name = 'indexGoods')
                    each val, index in goods
                        option= index + '. Код: ' + val.code + '. Назва: ' + val.name + '. Країна: ' + val.country
        div(class='')
            div(class='col-md-3')
                label(for='') Storage
            div(class='col-md-6')
                select(name = 'index')
                    each val, index in data
                        option= index + '. Номер: ' + val.number + '. Maгазин: ' + val.magazine.name + '. Місткість: ' + val.capacity
        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Add
        h4= info
    div(class='breadcrumb')
        li Звіт одиниць товару на заданому складі


    div
        each next in acc
            div= 'Склад № ' + next.storage + '. Кількість товарів ' + next.goodsInStorage
            ul
                each val, key in next.goods
                    li= 'Товар з № ' +  key + ': ' + val


    div(class='breadcrumb')
        li Видалення товару на складі
    form( name='shop-add-form' class='form-inline' action='/deleteGoodsOnStorage' method='POST')
        div(class='')
            div(class='col-md-3')
                label(for='') Storage
            div(class='col-md-6')
                select(name = 'index')
                    each val, index in data
                        option= index + '. Номер: ' + val.number + '. Maгазин: ' + val.magazine.name + '. Місткість: ' + val.capacity
        div(class='')
            div(class='col-md-3')
                label(for='') Goods
            div(class='col-md-6')
                select(name = 'indexGoods')
                    each val, index in goods
                        option= index + '. Код: ' + val.code + '. Назва: ' + val.name + '. Країна: ' + val.country

        div(class='form-group')
            div(class='col-md-12')
                button(type='submit' class='btn btn-primary') Delete
        h4= info


block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')
